* {
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(2vmin + 1px);
    background-color: #f2f2f2;
}



div.topbar {
    /* background-image: url('../img/topbar.jpg'), linear-gradient(to right, #e9e5e2 50%, #d4d8e1 50%); */
    background-image: url('../img/topbar2.jpg'), linear-gradient(to right, #EAE5DF 50%, #DDD8D4 50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.topbar a {
    border-style: none !important;
    background-color: #e5e5e5;
    color: black;
    border-radius: 2rem 2rem 0 0 !important;
    width: 25%;
    opacity: 0.8;
}

a.selected {
    background-color: #f2f2f2;
    opacity: 1;
}

.mainbody {
    /*background-image: url('../img/imageedit_5_8562096123.png');*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: #f2f2f2;
    height: 77vh;
    width: 100%;
    overflow: auto;
}

.sudokuTable {
    border-style: solid;
    border-color: black;
    /*border-width: thick;*/
    border-width: 0.2rem;
}

/*.sudokuTable tr {*/
/*    heigth: 10vmin;*/
/*}*/

.sudokuTable td {
    padding: 0;
    border-style: solid;
    border-color: black;
    border-width: 0.05rem;
    text-align: center;
    font-size: 1.5rem;
    width: 7vmin; /*USTAWIĆ DYNAMICZNĄ SZEROKOŚĆ DLA MAŁYCH EKRANOWÓW (window.innerheigth) W JAS!!!*/
    height: 7vmin;
    /*line-height: 10vmin;*/
    /*height: 100px;*/
    position: relative;
}

.sudokuTable td[data-row="1"][data-column="2"] {
    background-color: black;
}

.sudokuTable tr:nth-of-type(3n) {
    border-bottom-style: solid;
    /*border-bottom-width: thick;*/
    border-bottom-width: 0.2rem;

}

.sudokuTable td:nth-of-type(3n) {
    border-right-style: solid;
    /*border-right-width: thick;*/
    border-right-width: 0.2rem;

}

.sudokuTable input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.counter {
    justify-self: start;
    /*align-self: start;*/
    /*width: 100%;*/
    font-size: 2.5rem;
}

.modalText {
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;
    font-size: 1.5rem !important;
}

.button::-moz-focus-inner{
    border: 0;
    padding: 0;
}

.topElement {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 2;
}

.topElementSolid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
}


.bottomElement {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    overflow: auto;
}

.possibilities {
    min-width: 11vw;
    max-width: 11vw;
    min-height: 11vw;
    max-height: 11vw;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
}

.possibleButton {
    min-width: 3vw;
    max-width: 3vw;
    overflow: auto;
    height: 3vw;
    font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
    .possibilities {
        min-width: 24vw;
        max-width: 24vw;
        min-height: 24vw;
        max-height: 24vw;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        overflow: auto;
    }

    .possibleButton {
        min-width: 7vw;
        max-width: 7vw;
        overflow: auto;
        height: 7vw;
        font-size: 0.2rem;
    }
}

.hide {
    display: none;
}

.possibilitiesTable {
    table-layout:fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7vmin;
    overflow: auto;
}

.possibilitiesTable .row {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2vmin;
}

.possibilitiesTable .col-4 {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}


.button{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0.3rem 1rem;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow-wrap: break-word;
    font: 1.2rem arial, helvetica, sans-serif;
    text-decoration: none;
    /*white-space: nowrap;*/
    color: #555;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover{
    background-color: #eee;
    color: #555;
}

.button:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}


.button[disabled], .button[disabled]:hover, .button[disabled]:active{
    border-color: #eaeaea;
    background: #fafafa;
    cursor: default;
    position: static;
    color: #999;
    /* Usually, !important should be avoided but here it's really needed :) */
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

/* Smaller buttons styles */

.button.small{
    padding: 4px 12px;
}

/* Larger buttons styles */

.button.large{
    padding: 12px 30px;
    text-transform: uppercase;
}

.button.large:active{
    top: 2px;
}

/* Colored buttons styles */

.button.green, .button.red, .button.blue {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

/* */

.button.green{
    background-color: #57a957;
    border-color: #57a957;
}

.button.green:hover{
    background-color: #62c462;
}

.button.green:active{
    background: #57a957;
}

/* */

.button.red{
    background-color: #ca3535;
    border-color: #c43c35;
}

.button.red:hover{
    background-color: #ee5f5b;
}

.button.red:active{
    background: #c43c35;
}

.button

.button.red:active{
    background: #c43c35;
}

/* */

.button.blue{
    background-color: #269CE9;
    border-color: #269CE9;
}

.button.blue:hover{
    background-color: #70B9E8;
}

.button.blue:active{
    background: #269CE9;
}

/* */

.green[disabled], .green[disabled]:hover, .green[disabled]:active{
    border-color: #57A957;
    background: #57A957;
    color: #D2FFD2;
}

.red[disabled], .red[disabled]:hover, .red[disabled]:active{
    /*border-color: #C43C35;*/
    border-color: gray;
    background: gray;
    /*background: #C43C35;*/
    color: #FFD3D3;
}

.blue[disabled], .blue[disabled]:hover, .blue[disabled]:active{
    border-color: #269CE9;
    background: #269CE9;
    color: #93D5FF;
}

/* Group buttons */

.button-group,
.button-group li{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.button-group{
    font-size: 0; /* Inline block elements gap - fix */
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.button-group li{
    margin-right: -1px; /* Overlap each right button border */
}

.button-group .button{
    font-size: 13px; /* Set the font size, different from inherited 0 */
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.button-group .button :active{
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:first-child .button{
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.button-group li:first-child .button:active{
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, -5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.button-group li:last-child .button{
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.button-group li:last-child .button:active{
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset, 5px 0 5px -3px rgba(0, 0, 0, .2) inset;
}

.clicked {
    color: red;
    background-color: #ca3535;
}